
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading"> <h1 style="text-transform: uppercase"><%= @characters%></h1></div>
  <div class="panel-body" >

    <!-- <img src=@current_image alt="..."> -->

    <%= image_tag (@current_image) , :class=>"img-responsive center-block"%>
      <p> <%= @current_title %></p>
  </div>
