<!--
 <h1> The Snoopy Family Tree </h1>

        <%= image_tag "family.jpg", :style => "height:100%; width:100%; margin-bottom:100px;" %>
 -->

<!-- <%= image_tag "snoopy.jpg", id: "Snoopyheader"%> -->
