<h1>Founder of Snoopy</h1>
<div class="well">
<img src="founder.jpg" class="img-responsive center-block" alt="Responsive image">
<br>
<h3>Charles M. Schulz</h3>
<p>  Charles Monroe Schulz (November 26, 1922 – February 12, 2000), nicknamed Sparky, was an American cartoonist best known for the comic strip Peanuts (which featured the characters Charlie Brown and Snoopy, among others). He is widely regarded as one of the most influential cartoonists of all time, cited as a major influence by many later cartoonists, including Calvin and Hobbes creator Bill Watterson.
</p>
<h3>Peanuts</h3>
<p>
At its height, Peanuts was published daily in 2,600 papers in 75 countries, in 21 languages. Over the nearly 50 years that Peanuts was published, Schulz drew nearly 18,000 strips. The strips themselves, plus merchandise and product endorsements, produced revenues of more than $1 billion per year, with Schulz earning an estimated $30 million to $40 million annually.[2] During the life of the strip, Schulz took only one vacation, a five-week break in late 1997 to celebrate his 75th birthday; reruns of the strip ran during his vacation, the only time reruns occurred while Schulz was alive.
</p>
<p>
The first book collection of Peanuts strips was published in July 1952 by Rinehart & Company. Many more books followed, and these collections greatly contributed to the increasing popularity of the strip. In 2004, Fantagraphics began their Complete Peanuts series. Peanuts also proved popular in other media; the first animated TV special, A Charlie Brown Christmas, aired in December 1965 and won an Emmy award. Numerous TV specials were to follow, the latest being Happiness is a Warm Blanket, Charlie Brown in 2011. Until his death, Schulz wrote or cowrote the TV specials and carefully oversaw production of them.
</p>
<p>
Schulz receiving his star on the Hollywood Walk of Fame at Knott's Berry Farm in June 1996
Charlie Brown, the principal character for Peanuts, was named after a co-worker at the Art Instruction Inc. Schulz drew much more inspiration than this from his own life, some examples being:
</p>
<p>
Like Charlie Brown's parents, Schulz's father was a barber and his mother a housewife.
Schulz admitted in interviews that, like Charlie Brown, he had often felt shy and withdrawn in his life. In an interview with Charlie Rose in May 1997, Schulz observed, "I suppose there’s a melancholy feeling in a lot of cartoonists, because cartooning, like all other humor, comes from bad things happening."[15]
Schulz reportedly had an intelligent dog when he was a boy. Although this dog was a pointer, and not a beagle as was Snoopy, family photos of the dog confirm a certain physical resemblance.
</p>
<p>
References to Snoopy's brother Spike living outside of Needles, California, were likely influenced by the few years (1928–1930) that the Schulz family lived there; they had moved to Needles to join other family members who had relocated from Minnesota to tend to an ill cousin.
</p>
<p>
Schulz's inspiration for Charlie Brown's unrequited love to the Little Red-Haired Girl was Donna Mae Johnson, an Art Instruction Inc. accountant with whom he fell in love. When Schulz finally proposed to her in June 1950, shortly after he had made his first contract with his syndicate, she turned him down and married another man.
Linus and Shermy were named for his good friends Linus Maurer and Sherman Plepler, respectively.
</p>
<p>
Peppermint Patty was inspired by Patricia Swanson, one of his cousins on his mother's side. Schulz devised the character's name when he saw peppermint candies in his house.
Lucy was modeled after Schulz's first wife, Joyce Halverson.
<p>
</div>
